// v8light global scope
// ---
// prepended to all .scss imports (from JS, when v8light theme selected)

@import "@elastic/eui/src/themes/eui-next/eui_next_colors_light";
@import "./arancia/arancia_theme_light";
@import "@elastic/eui/src/themes/eui-next/eui_next_globals";
@import "./mixins";
